[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[scripts]
dev = "flask --app flaskr --debug run"
test = "coverage run -m pytest"
test-report = "coverage report -m"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
